# .NET
bin/
obj/
.fake

# Fable
fable_build/
fable_modules/
*.fs.js

# Node.js
node_modules/

# JavaScript
**/build/

# Python
*.py
venv/
__pycache__/

# Rider
.idea/
*.sln.DotSettings.user

# MacOS
.DS_Store