@font-face {
  font-family: 'Lobster Two';
  src: URL('assets/fonts/lobster-two/LobsterTwo-Regular.ttf') format('truetype');
}

:root { 
  font-size: 10px;

  /* Palette 1 */
  --yale-blue: #0d3b66ff;
  --imperial-red: #fb3640ff;
  --dutch-white: #fcecc9ff;
  --moonstone: #53b3cbff;
  --lavender-blush: #e0d8deff;

  /* Palette 2 */
  --emerald: #23ce6bff;
  --magenta-haze: #932f6dff;
  --yinmn-blue: #1d4e89ff;
  --melon: #ffa69eff;
  --ivory: #fbfff1ff;
}

h1 { 
  font-size: 4rem;
  font-family: 'Lobster Two', Verdana, Tahoma, sans-serif;
  color: var(--lavender-blush);
  text-align: left;
}

body { 
  background-image: url(./assets/images/wallpaper/selfridges-desktop-small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

/* @media (max-width: 40rem) {
  h1 { 
    color: #000000
  }

  body { 
    background-image: url(./assets/images/wallpaper/birmingham-library-mobile.jpg);
  }
} */