@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root { 
  font-size: 12px; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

body { 
  width: 100dvw;
  height: 100dvh;
  display: block;
  position: static;
  scrollbar-width: none;
  -ms-overflow-style: none;
  touch-action: pan-x pan-y;
}

  body::-webkit-scrollbar {
    display: none;
  }